RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ https://%{HTTP_HOST}/ [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\ HTTP/
RewriteRule ^index\.php$ https://%{HTTP_HOST}/ [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /modmail\.php\ HTTP/
RewriteRule ^modmail\.php$ https://%{HTTP_HOST}/modmail [R=301,L]